* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
}

p {
    font-family: 'Sorts Mill Goudy', serif;
}

a:link,
a:visited {
    text-decoration: none;
    transition: all .3s;
}

a:hover {
    padding-left: .5rem;
}

.container {
    display: grid;
    grid-template-columns: [full-start] minmax(10rem, 1fr) [center-start] repeat(8, minmax(min-content, 15rem)) [center-end] minmax(10rem, 1fr) [full-end];
    grid-template-rows: 8rem;
}

.container--main {
    grid-template-rows: 8rem calc(100vh - 8rem);
}

.navbar {
    grid-column: full-start / full-end;
    grid-row: 1 / span 1;
    z-index: 1;

    padding: 0 5rem;
    background-color: rgba(51, 51, 51, 1);
    border-bottom: 1px solid rgba(255,255,255, .2);

    display: flex;
    align-items: center;
}

.navbar--main {
    background-color: transparent;
}

.navbar__list {
    list-style: none;
}

.navbar__item {
    display: inline-block;
}

.navbar__item:not(:last-child) {
    margin-right: 3rem;
}

.navbar__link:link,
.navbar__link:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.7rem;
    line-height: 8rem;
    display: inline-block;
    color: #ccc;
    transition: all .3s;
}

.navbar__link:hover {
    color: #eee;
    transform: translateY(-2px);
    padding-left: 0;
}

.navbar__link.active {
    color: white;
}

.logo {
    margin-right: auto;
    height: 16rem;
}

.header {
    grid-column: full-start / full-end;
    grid-row: 1 / span 2;

    padding: 0 5rem;

    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)), url("../img/hero.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.header__title {
    color: white;
    font-size: 4.5rem;
    font-weight: 400;
}

.header__excerpt {
    padding: 3rem;
    background-color: rgba(255,255,255, .2);
    border-radius: 5px;
    margin: 4rem 0 2rem;
    width: 40%;
}

.header__excerpt h3,
.header__excerpt h4,
.header__excerpt p,
.header__excerpt a {
    color: white;
}

.header__excerpt h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.header__excerpt h4 {
    font-size: 2rem;
    margin-bottom: .5rem;
}

.header__excerpt p {
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

.header__excerpt a {
    font-size: 1.7rem;
    text-transform: uppercase;
}

.header__btn {
    align-self: center;
    color: white;
    font-size: 6rem;
    margin: 2rem 0;
    cursor: pointer;
    transition: all .3s;
    backface-visibility: hidden;
}

.header__btn:hover {
    transform: translateY(-2px);
}

/*
    BLOG EXCERPTS
*/

.blog-excerpts {
    padding: 10rem 0;
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.btn:link,
.btn:visited {
    background-color: #333;
    border: none;
    padding: 2rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: .1rem;
    text-decoration: none;
    text-align: center;
    transition: all .3s;
    backface-visibility: hidden;
}

.btn--big {
    grid-column: 1 / -1;
    margin: 3rem 10rem 0;
    font-size: 2.5rem;
}

.btn--small-1 {
    grid-column: 1 / 6;
    margin: 0 3rem 10rem;
    font-size: 2rem;
}

.btn--small-2 {
    grid-column: 6 / -1;
    margin: 0 3rem 10rem;
    font-size: 2rem;
}

.btn:hover {
    transform: translateY(-2px);
    padding: 2rem;
}

/*
    ABOUT
*/

.about {
    grid-row: 4 / 5;
    grid-column: full-start / full-end;

    padding-bottom: 10rem;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}

.about__image {
    grid-column: 1 / 7;
    overflow: hidden;
}

.about__image img {
    width: 100%;
    object-fit: cover;
    display: block;
    filter: contrast(140%);
    transition: all 60s;
    backface-visibility: hidden;
}

.about__image img:hover {
    transform: scale(1.2);
}

.about__bio {
    grid-column: 7 / -1;
    color: white;
    padding: 10rem;
    align-self: center;
    background-color: #333;
}

.about__bio h2 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

.about__bio p {
    font-size: 2rem;
}

.about__bio p:not(:last-child) {
    margin-bottom: 1.5rem;
}

.about__bio a:link,
.about__bio a:visited {
    padding: 2rem;
    text-transform: uppercase;
    color: white;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    text-decoration: none;
    text-align: center;
    background-color: #aaa;
    display: block;
    margin-top: 4rem;
    backface-visibility: hidden;
    transition: all .3s;
}

.about__bio a:visited:hover {
    transform: translateY(-2px);
}

/*
    FOOTER
*/

.footer {
    grid-column: full-start / full-end;
    background-color: #333;
}

.footer p {
    padding: 5rem 2rem;
    color: white;
    font-size: 1.4rem;
    text-align: center;
}

/*
    BLOG
*/

.blog {
    padding-top: 10rem;
    grid-column: center-start / 8;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.post {
    margin-bottom: 8rem;
}

.post--big {
    grid-column: 1 / -1;
}

.post--small-1 {
    grid-column: 1 / 5;
}

.post--small-2 {
    grid-column: 5 / -1;
}

.post__header {
    height: 40rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.post__header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    transition: transform .5s;
    backface-visibility: hidden;
}

.post__header:hover img {
    transform: scale(1.02);
}

.post__header figcaption {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.5rem 3rem;
    background-color: rgba(0,0,0, .6);
    width: 80%;
    text-align: center;
}

.post__header figcaption h2 {
    color: white;
    font-size: 3.2rem;
    font-weight: 400;
}

.post__header figcaption h2 a:link,
.post__header figcaption h2 a:visited {
    text-decoration: none;
    color: white;
    transition: color .3s;
}

.post__header figcaption h2 a:hover {
    color: #ddd;
    padding: 0;
}

.post__body {
    padding: 4rem 2rem 2rem;
}

.post__body p {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.post__body a {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: inherit;
}

.post__footer {
    padding: 1rem 0;
    margin: 0 .5rem;
    border-top: 1px solid rgba(0,0,0, .6);
    border-bottom: 1px solid rgba(0,0,0, .6);
}

.post__footer ul {
    list-style: none;
    padding: 0 1.5rem;
}

.post__footer li {
    display: inline-block;
    font-size: 1.4rem;
}

.post__footer li:not(:last-child) {
    margin-right: .5rem;
}

/*
    COMMENTS
*/

.comments {
    padding-bottom: 10rem;
    grid-column: 1 / -1;
}

.comments__container {
    visibility: hidden;
    opacity: 0;
    padding: 1rem 2rem 3rem;
    margin-top: -200vh;
    transition: margin-top .6s, opacity .3s .6s;
}

.comments__header {
    height: 8rem;
    display: flex;
    align-items: center;
    font-size: 3rem;
    margin: 0 2rem;
}

.comments h3 {
    margin-right: 5rem;
    display: inline-block;
    font-size: 3rem;
}

.comments label {
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    font-size: 3rem;
}

.comments input[type="checkbox"] {
    visibility: hidden;
    display: inline-block;
}

.comments input[type="checkbox"]:checked + .comments__container {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
}

.comments__list,
.comments__children {
    list-style: none;
    padding: 1rem 0;
}

.comments__list {
    margin-bottom: 5rem;
}

.comments__children {
    margin-left: 2rem;
}

.comments__item h4 {
    display: inline-block;
    font-size: 2rem;
    padding-bottom: 2px;
    border-bottom: 1px solid #333;
}

.comments__item p {
    font-size: 1.7rem;
    padding: .5rem 0;
}

.comments__form {
    width: 80%;
    margin: 0 auto;
}

.comments__form h3 {
    font-size: 3rem;
    text-align: center;
}

.comments__form p {
    font-size: 2rem;
    margin: 1rem 0;
}

.comments__form div {
    margin-bottom: 1.5rem;
}

.comments__form div label {
    display: block;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: .5rem;
}

.comments__form div input {
    width: 100%;
    height: 4rem;
    font-size: 2rem;
    font-family: inherit;
    color: inherit;
}

.comments__form div textarea {
    width: 100%;
    font-size: 2rem;
    font-family: inherit;
    color: inherit;

}

.comments__form div button {
    background-color: #333;
    border: none;
    color: white;
    padding: 2rem;
    display: block;
    width: 100%;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

/*
    SIDEBAR
*/

.sidebar {
    grid-column: 8 / center-end;
    grid-row: 2 / 3;
    align-self: start;
    margin-left: 5rem;
    padding: 10rem 0;
}

.widget:not(:last-child) {
    margin-bottom: 2rem;
}

.widget h4 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.widget img {
    width: 100%;
    object-fit: cover;
}

.widget p {
    font-size: 1.6rem;
}

.widget ul {
    list-style: none;
}

.widget ul li:not(:last-child) {
    margin-bottom: .5rem;
}

.widget ul li a {
    font-size: 1.6rem;
    color: inherit;
}

.search-form input {
    width: 100%;
}